#calendar-section {
  margin: 5% 18% 5% 0;
}
@media (max-width: 480px) {
  #calendar-section {
    margin: 0;
  }
}
[title="Period 1"] {
  background: red !important;
  border: 2px solid red;
}
[title="Period 2"] {
  background: red !important;
  border: 2px solid red;
}
[title="Period 3"] {
  background: orange !important;
  border: 2px solid orange;
}
[title="Period 4"] {
  background: green !important;
  border: 2px solid green;
}
[title="Period 5"] {
  background: purple !important;
  border: 2px solid purple;
}

[title="Period 6"] {
  background: #3174ad !important;
  border: 2px solid #3174ad;
}
[title="14 Day Mark"] {
  background: #00e0fd !important;
  border: 2px solid #00e0fd;
}
.rbc-event {
  background: none;
  padding: 0;
}
.rbc-event-content {
  padding: 2.5px;
  border-radius: 4px;
}
/* Month Label */
.rbc-toolbar-label {
  font-size: 3em;
}
.rbc-month-row {
  min-height: 91px;
}
