[title="Period 1"] {
  background: red !important;
  border: 2px solid red;
}
[title="Period 2"] {
  background: red !important;
  border: 2px solid red;
}
[title="Period 3"] {
  background: orange !important;
  border: 2px solid orange;
}
[title="Period 4"] {
  background: green !important;
  border: 2px solid green;
}
[title="Period 5"] {
  background: purple !important;
  border: 2px solid purple;
}

[title="Period 6"] {
  background: #3174ad !important;
  border: 2px solid #3174ad;
}
.rbc-event {
  background: none;
  padding: 0;
}
.rbc-event-content {
  padding: 2.5px;
  border-radius: 4px;
}
